In [1]:
import pandas as pd

# Create Dataframe

In [3]:
# from python dictionary

fruit_sales_dict = {'dt': ['2019-01', '2019-02'] , 'banana': [1, 2], 'ichigo': [3, 4]}
fruit_sales_df = pd.DataFrame(fruit_sales_dict)
fruit_sales_df.head()

        dt  banana  ichigo
0  2019-01       1       3
1  2019-02       2       4

In [4]:
# 
pd.melt(fruit_sales_df, id_vars=['dt'] ,value_vars= ['banana', 'ichigo'], var_name= 'fruit_name', value_name = 'fruit_revenue')

        dt fruit_name  fruit_revenue
0  2019-01     banana              1
1  2019-02     banana              2
2  2019-01     ichigo              3
3  2019-02     ichigo              4